---
layout: milo-default
title: Archive - All Posts
permalink: /archive/
---
<h1>All Posts</h1>

{% for post in paginator.posts %}
<article class="article">
  <h2>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </h2>
  {% if post.category == "photo" %}
    {% include flickrimage.html %}
  {% else %}
    <!-- FIXME: renders the full post body rather than an excerpt. -->
    {{ post.content }}
  {% endif %}

  {% include endmatter.html %}
</article>
{% endfor %}

{% include pagination.html %}
