---
layout: default
title: Welcome
---
<h1>Welcome!</h1>

{% for post in paginator.posts %}
<article>
    <h4>{{ post.title }}</h4>
    <photo>
        <img src="{{ post.flickrurl }}" alt="{{ post.title }}" target="_blank"/>
    </photo>

    <strong>
        <p class="end-matter">Tagged:&nbsp;
            {% for tag in post.tags %}
            <a href="/{{ tag }}">{{ tag }}</a>&nbsp;
            {% endfor %}
        </p>
    </strong>

    <!-- Jun 24, 2012 at 11:09pm -->
    <strong>
        <p class="end-matter">Originally Posted:&nbsp;
           {{ post.date | date: "%b %d, %Y" }} at
           {{ post.date | date: "%I:%M %P"}}
        </p>
    </strong>

    <div class="addthis_toolbox addthis_default_style "
        addthis:title="{{ post.title }}"
        addthis:url="{{ site.url }}{{ post.url }} ">
        <a class="addthis_button_facebook_like"
            fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
    </div>
    <script type="text/javascript"
src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ee43da6138c11c3">
    </script>
</article>
{% endfor %}

{% include pagination.html %}