<article class="card mb-4">
  <header class="card-header">
    <div class="card-meta">
      <a href="#"><time class="timeago" datetime="2021-09-15 20:00">15 october 2021</time></a> in <a href="page-category.html">Lifestyle</a>
    </div>
    <a href="post-image.html">
      <h4 class="card-title">The king is made of paper</h4>
    </a>
  </header>
  <a href="post-image.html">
    <img class="card-img" src="img/articles/3.jpg" alt="" />
  </a>
  <div class="card-body">
    <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. </p>
  </div>
</article><!-- /.card -->
