<!-- FIXME Links need updating to right pages-->
<table border="0">
    <tbody>
        <tr>
            <td><a href="/">Home</a></td>
            <td><a href="/blog/">Blog</a></td>
            <td><a href="/pages/ios/">iPhone Apps</a></td>
            <td><a href="/pages/photography/">Photography</a></td>
            <td><a href="/pages/about/">About</a></td>
            <td><a href="/pages/affiliates/">Affiliates</a></td>
            <td><a href="/pages/archive/">Archive</a></td>
        </tr>
    </tbody>
</table>