<table border="0">
    <tbody>
        <tr>
            <td><a href="{{ site.url }}">Home</a></td>
            <td><a href="{{ site.url }}/blog">Blog</a></td>
            <td><a href="{{ site.url }}/ios">iPhone Apps</a></td>
            <td><a href="{{ site.url }}/photography">Photography</a></td>
            <td><a href="{{ site.url }}/about">About</a></td>
            <td><a href="{{ site.url }}/affiliates">Affiliates</a></td>
            <td><a href="{{ site.url }}/archive/">Archive</a></td>
        </tr>
    </tbody>
</table>