{% unless post %}
    {% assign post = page %}
{% endunless %}

<!-- Like Pagination, but individual posts -->
<table id="pagination">
    <tr>
        <td class="left">
            <ul>
            <li class="left">
            {% if post.previous.url %}
                <a href="{{ post.previous.url }}">Previous Post</a>
            {% else %}
                No Previous Post
            {% endif %}
            </li>
            </ul>
        </td>
        <td class="right">
            <ul>
            <li class="right">
             {% if post.next.url %}
                <a href="{{ post.next.url }}">Next Post</a>
            {% else %}
                No Next Post
            {% endif %}
            </li>
            </ul>
        </td>
    </tr>
</table>
