<table id="pagination">
    <tr>
        <td class="left">
            <li class="left">
                {% if paginator.next_page %}
                <a href="{{ site.url }}/page{{ paginator.next_page }}">
                    Older Posts</a>
            {% else %}
                No Older Posts
            {% endif %}
            </li>
        </td>
        <td class="center">
            Page: {{ paginator.page }} of {{ paginator.total_pages }}
        </td>
        <td class="right">
            {% if paginator.previous_page %}
                <li class="right">
                    {% if paginator.previous_page == 1 %}
                    <a href="{{ site.url }}">Newer Posts</a>
                    {% else %}
                    <a href="{{ site.url }}/page{{ paginator.previous_page }}">
                        Newer Posts</a>
                    {% endif %}
                </li>
            {% else %}
                <li class="right">No Newer Posts</li>
            {% endif %}
        </td>
    </tr>
</table>