<aside>
    <h2>Links</h2>
    <h3><a href="http://about.me/{{ site.aboutme }}"
        target="_blank">About.Me</a></h3>
    <h3><a href="http://facebook.com/{{ site.facebook }}"
        target="_blank">Facebook</a></h3>
    <h3><a href="http://flickr.com/{{ site.flickr }}"
         target="_blank">Flickr</a></h3>
    <h3><a href="http://github.com/{{ site.github }}"
        target="_blank">GitHub</a></h3>
    <h3><a href="http://plus.google.com/{{ site.googleplus }}"
        target="_blank">Google+</a></h3>
    <h3><a href="http://instagram.com/{{ site.instagram }}"
        target="_blank">Instagram</a></h3>
    <h3><a href="http://itunes.com/apps/{{ site.appstore }}"
        target="_blank">iOS App Store</a></h3>
    <h3><a href="http://linkedin.com/{{ site.linkedin }}"
        target="_blank">LinkedIn</a></h3>
    <h3><a href="http://www.tumblr.com/liked/by/cycomachead"
        target="_blank">Posts I Like</a></h3>
    <h3><a href="http://tumblr.com/follow/{{ site.tumblr }}"
        target="_blank">Tumblr</a></h3>
    <h3><a href="http://twitter.com/{{ site.twitter }}"
        target="_blank">Twitter</a></h3>
    <h3><a href="http://youtube.com/{{ site.youtube }}"
        target="_blank">YouTube</a></h3>
    <br /><br />
    <h2>Site Updates</h2>
    <h3><a href="http://fusion.google.com/add?source=atgs&feedurl=feed%3A//michaelballphoto.com/rss" target="_blank">
            Add to Google Reader</a>
    </h3>
    <h3><a href="{{ site.url }}/atom.xml" target="_blank">RSS Feed</a></h3>
    <h3><a href="http://twitter.com/{{ site.twitterposts}}"
        target="_blank">Twitter<br />(Posts Only)</a>
    </h3>
    <div>
        <img align="middle" height="32"
             src="{{ site.url }}/images/mac_integration.png" width="150" />
        <img align="middle" height="40"
            src="{{ site.url }}/images/aperture_pro.png" width="150" />
    </div>
</aside>