<h2>Links</h2>
<h3><a href="http://flickr.com/{{ site.flickr }}"
        target="_blank">Flickr</a></h3>
<h3><a href="http://github.com/{{ site.github }}"
    target="_blank">GitHub</a></h3>
<h3><a href="http://instagram.com/{{ site.instagram }}"
    target="_blank">Instagram</a></h3>
    <!-- <h3><a href="http://linkedin.com/{{ site.linkedin }}"
        target="_blank">LinkedIn</a></h3> -->
<h3><a href="http://twitter.com/{{ site.twitter }}"
    target="_blank">Twitter</a></h3>

<br /> <br />

<h2>Site Updates</h2>
<h3><a href="{{ site.url }}/atom.xml" target="_blank">RSS Feed</a></h3>
