<aside>
    <h2 class="links-list">Links</h2>
    <ul class="links-list" style="margin-top: 0px;">
        <h3><a href="http://aboutme.com/{{ site.aboutme }}"
            target="_blank">About.Me</a></h3>
        <h3><a href="http://facebook.com/{{ site.facebook }}"
            target="_blank">Facebook</a></h3>
        <h3><a href="http://flickr.com/{{ site.flickr }}"
             target="_blank">Flickr</a></h3>
        <h3><a href="http://github.com/{{ site.github }}"
            target="_blank">Flickr</a></h3>
        <h3><a href="http://plus.google.com/{{ site.googleplus }}"
            target="_blank">Google+</a></h3>
        <h3><a href="http://instagram.com/{{ site.instagram }}"
            target="_blank">Instagram</a></h3>
        <h3><a href="http://itunes.com/apps/{{ site.appstore }}"
            target="_blank">iOS App Store</a></h3>
        <h3><a href="http://linkedin.com/{{ site.linkedin }}"
            target="_blank">LinkedIn</a></h3>
        <h3><a href="http://www.tumblr.com/liked/by/cycomachead"
            target="_blank">Posts I Like</a></h3>
        <h3><a href="http://tumblr.com/follow/{{ site.tumblr }}"
            target="_blank">Tumblr</a></h3>
        <h3><a href="http://twitter.com/{{ site.twitter }}"
            target="_blank">Twitter</a></h3>
        <h3><a href="http://youtube.com/{{ site.youtube}}"
            target="_blank">YouTube</a></h3>
    </ul>

    <h2 class="links-list">Site Updates</h2>
    <ul class="links-list">
        <h3><a href="http://fusion.google.com/add?source=atgs&feedurl=feed%3A//michaelballphoto.com/rss" target="_blank">Add to Google Reader</a></h3>
        <!-- FIXME -->
        <h3><a href="{RSS}" target="_blank">RSS Feed</a></h3>
        <h3><a href="http://twitter.com/{{ site.twitterposts}}"
            target="_blank">Twitter<br />(Posts Only)</a></h3>
    </ul>

    <div>
        <br />
        <p><img align="middle" height="32"
             src="/Website//images/Mac_Integration.png" width="150" />
         </p>
        <p><img align="middle" height="40"
            src="/Website/images/Aperture_Pro.png" width="150" />
        </p>
    </div>
</aside>