<p>Here's the place where you'll be able to find links to all of my photos that are online. This is a bit of a small set right now, but please check it out! Images are organzed by types and by places where they were taken, and everything is in alphabetical order. :)</p> 

<table style="text-align: middle; margin-right:auto; margin-left: auto;">
<tbody>
<tr class="">
<td>
<div class="setImg">
<img class="pho2" src="http://farm7.staticflickr.com/6128/6003321845_33a779813f_q.jpg" alt="Favorites" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157627219400519/"><div class="caption">
<p>A collection of my favorite photos I've taken over the years, from all sorts of events and places. </p>
</div>
</a></div>
</td>
<td>
<div class="setImg">
<img class="pho2" src="http://farm9.staticflickr.com/8148/7306344550_fd49c9f9d7_q.jpg" alt="Arches, Bryce, Zion NP" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157629993736983/"><div class="caption">
<p>Images from some of Utah's most visited parks!</p>
</div>
</a></div>
</td>
<td>
<div class="setImg">
<img class="pho2" src="http://farm7.staticflickr.com/6149/6003868488_e50b99566f_q.jpg" alt="Architecture" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157630055989612/"><div class="caption">
<p>Shots of buildings or other neat architectural designs.</p>
</div>
</a></div>
</td>
</tr>
<tr class="photoslinks">
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157627219400519/">Favorites</a>
</td>
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157629993736983/">Arches, Bryce, Zion NP</a>
</td>
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157630055989612/">Architecture</a>
</td>
</tr>
<tr class="">
<td>
<div class="setImg">
<img class="pho2" src="http://farm8.staticflickr.com/7085/7312751912_455f34f608_q.jpg" alt="Astrophotography" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157630055956636/"><div class="caption">
<p>Isn't the night sky awesome?</p>
</div>
</a></div>
</td>
<td>
<div class="setImg">
<img class="pho2" src="http://farm8.staticflickr.com/7099/7271724046_ba25fe7a4f_q.jpg" alt="Beaches" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157629900261150/"><div class="caption">
<p>Beaches from around California</p>
</div>
</a></div>
</td>
<td>
<div class="setImg">
<img class="pho2" src="http://farm8.staticflickr.com/7058/6784619550_878324422c_q.jpg" alt="Black & White" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157629456632509/"><div class="caption">
<p>A collection of my favorite monochrome images</p>
</div>
</a></div>
</td>
</tr>
<tr class="photoslinks">
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157630055956636/">Astrophotography</a>
</td>
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157629900261150/">Beaches</a>
</td>
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157629456632509/">Black & White</a>
</td>
</tr>
<tr class="">
<td>
<div class="setImg">
<img class="pho2" src="http://farm8.staticflickr.com/7075/7332857034_8d51cddc86_q.jpg" alt="College Adventures" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157628494248253/"><div class="caption">
<p>A collection of images from my time in college.</p>
</div>
</a></div>
</td>
<td>
<div class="setImg">
<img class="pho2" src="http://farm9.staticflickr.com/8152/7175370073_5f9ab88aa6_q.jpg" alt="Disney Parks" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157628639992401/"><div class="caption">
<p>Adventures to one of SoCal's most famous and fun attractions! :)</p>
</div>
</a></div>
</td>
<td>
<div class="setImg">
<img class="pho2" src="http://farm8.staticflickr.com/7032/6535655549_667f6b739f_q.jpg" alt="Italy Vacation 2011" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157628516414615/"><div class="caption">
<p>A collection of shots from my trip throughout Italy during the summer. </p>
</div>
</a></div>
</td>
</tr>
<tr class="photoslinks">
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157628494248253/">College Adventures</a>
</td>
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157628639992401/">Disney Parks</a>
</td>
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157628516414615/">Italy Vacation 2011</a>
</td>
</tr>
<tr class="">
<td>
<div class="setImg">
<img class="pho2" src="http://farm8.staticflickr.com/7157/6542299475_9a076e59f0_q.jpg" alt="iPhone Images" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157628509033607/"><div class="caption">
<p>Random photos from my iPhone worth sharing. :)</p>
</div>
</a></div>
</td>
<td>
<div class="setImg">
<img class="pho2" src="http://farm8.staticflickr.com/7011/6810641365_7bc7001400_q.jpg" alt="Joshua Tree NP" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157629993797295/"><div class="caption">
<p>Images from Joshua Tree National Park</p>
</div>
</a></div>
</td>
<td>
<div class="setImg">
<img class="pho2" src="http://farm8.staticflickr.com/7006/6724272595_348450e314_q.jpg" alt="Laguna Beach" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157628672595941/"><div class="caption">
<p>Shots from Laguna Beach, CA</p>
</div>
</a></div>
</td>
</tr>
<tr class="photoslinks">
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157628509033607/">iPhone Images</a>
</td>
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157629993797295/">Joshua Tree NP</a>
</td>
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157628672595941/">Laguna Beach</a>
</td>
</tr>
<tr class="">
<td>
<div class="setImg">
<img class="pho2" src="http://farm8.staticflickr.com/7101/7265958134_0cb23af93b_q.jpg" alt="Mt. Rainier NP" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157630055937474/"><div class="caption">
<p>Images from Mt. Rainier National Park</p>
</div>
</a></div>
</td>
<td>
<div class="setImg">
<img class="pho2" src="http://farm8.staticflickr.com/7172/6769722017_c39f4c3b85_q.jpg" alt="San Francisco" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157629051037019/"><div class="caption">
<p>Shots from one of my favorite cities!</p>
</div>
</a></div>
</td>
<td>
<div class="setImg">
<img class="pho2" src="http://farm8.staticflickr.com/7167/6753295103_b596846072_q.jpg" alt="UC Berkeley" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157629125152291/"><div class="caption">
<p>Images taken while I wasn't studying! :)</p>
</div>
</a></div>
</td>
</tr>
<tr class="photoslinks">
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157630055937474/">Mt. Rainier NP</a>
</td>
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157629051037019/">San Francisco</a>
</td>
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157629125152291/">UC Berkeley</a>
</td>
</tr>
<tr class="">
<td>
<div class="setImg">
<img class="pho2" src="http://farm8.staticflickr.com/7085/7312751912_455f34f608_q.jpg" alt="Utah Vacation 2012" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157629993586228/"><div class="caption">
<p>Shots from my 2012 trip to Utah!</p>
</div>
</a></div>
</td>
<td>
<div class="setImg">
<img class="pho2" src="http://farm8.staticflickr.com/7074/7260191802_67d5b9ce1a_q.jpg" alt="Yosemite NP" />
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157630055875178/"><div class="caption">
<p>A collection of images from Yosemite National Park</p>
</div>
</a></div>
</td>
</tr>
<tr class="photoslinks">
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157629993586228/">Utah Vacation 2012</a>
</td>
<td>
<a href="http://www.flickr.com/photos/64724295@N08/sets/72157630055875178/">Yosemite NP</a>
</td>
</tr>
</tbody>
</table>
<br /> <br />