.site-footer {
  background: $berkeley-blue;
  border-top: 4px solid $california-gold;

  .copy {
    text-align: center;
    color: rgba($white, .75);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 95%;

    a {
      color: rgba($white, .9);
      text-decoration: none;

      &:hover,
      &:focus {
        color: $california-gold;
      }
    }
  }
}
