<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>

    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en" />

    <!-- FIXME -->
    <link rel="alternate" type="application/rss+xml" 
        href="{{ site.url }}/atom.xml" />
    <link rel="apple-touch-icon" 
        href="{{ site.url }}/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72"
        href="{{ site.url }}/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="114x114"
        href="{{ site.url }}/images/apple-touch-icon.png" />
    <!-- Google Search Info link -->
    <link href="https://plus.google.com/109987956810230671866" rel="author" />
    <!--Google Webmaster tools-->
    <meta name="google-site-verification"
        content="pHeE_FvvBiPQp5IjXqxUehEwgEP037d2fBj5C3G-QSk" />

    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}" />

    {% if page.title %}
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="title" content="{{ page.title }} | {{ site.title }}">
    {% else %}
    <title>{{ site.title }}</title>
    <meta name="title" content="{{ page.title }} | {{ site.title }}">
    {% endif %}


    {% if page.tags %}
    <meta name="keywords"  content="{% for tag in page.tags %} {{ tag }},
     &nbsp;{% endfor %} {{ site.keywords }}" />
    {% else %}
    <meta name="keywords" content="{{ site.keywords }}" />
    {% endif %}

    {% include css.html %}
</head>

<body>
    <div class="nav"> <!--nav pages, etc-->
        {% include nav.html %}
    </div>

    <div class="header">
        <img src="{{ site.url }}/images/header.jpg"/>
    </div>

    <div class="middle">  <!--just for organization-->
        <div class="content">
            {{ content }}
        </div>

        <div class="side">
            {% include side.html %}
        </div>
    </div>

    <div class="footer">
        {% include footer.html %}
    </div>

    {% include analytics.html %}

</body>
</html>