<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en" />

    <link rel="alternate" type="application/rss+xml" href="/atom.xml" />
    <link rel="apple-touch-icon"
        href="{{ site.url }}/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72"
        href="{{ site.url }}/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="114x114"
        href="{{ site.url }}/images/apple-touch-icon.png" />

        <!--Google Webmaster tools-->
    <meta name="google-site-verification"
        content="pHeE_FvvBiPQp5IjXqxUehEwgEP037d2fBj5C3G-QSk" />

    <meta name="author" content="{{ site.author.name }}" />
    <meta name="description" content="{{ site.description }}" />

    {% if page.title %}
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="title" content="{{ page.title }} | {{ site.title }}">
    {% else %}
    <title>{{ site.title }}</title>
    <meta name="title" content="{{ site.title }}">
    {% endif %}


    {% if page.tags %}
    <meta name="keywords"
    content="{% for tag in page.tags %} {{ tag }}, {% endfor %}
        {% for key in site.keywords %} {{ key }}, {% endfor %}" />
    {% else %}
    <meta name="keywords"
        content="{% for key in site.keywords %} {{ key }}, {% endfor %}" />
    {% endif %}

    {% include css.html %}
</head>

<body>
    <nav class="nav">
        {% include nav.html %}
    </nav>

    <div class="header">
        <img src="/images/header2.png" alt="Michael Ball, header image of the Golden Gate Bridge from the campanile" />
    </div>

    <div class="middle">
        <div class="content">
            {{ content }}
        </div>

        <div class="aside">
            {% include side.html %}
        </div>
    </div>

    <div class="footer">
        {% include footer.html %}
    </div>

    {% include scripts.html %}

</body>
</html>
