<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Google Webmaster tools-->
  <meta name="google-site-verification"
      content="pHeE_FvvBiPQp5IjXqxUehEwgEP037d2fBj5C3G-QSk" />

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />

  {% if page.title %}
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="title" content="{{ page.title }} | {{ site.title }}">
  {% else %}
  <title>{{ site.title }}</title>
  <meta name="title" content="{{ site.title }}">
  {% endif %}

  <meta name="keywords"
      content="{% for key in site.keywords %} {{ key }}, {% endfor %}" />

  <link href="/assets/styles/milo.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/gxx8oul.css">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />
  <link rel="apple-touch-icon"
      href="{{ site.url }}/assets/images/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="72x72"
      href="{{ site.url }}/assets/images/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="114x114"
      href="{{ site.url }}/assets/images/apple-touch-icon.png" />
</head>
<body>

  {% include milo-navbar.html hide_title=true %}

  {{ content }}

  {% include milo-footer.html %}
  {% include scripts.html %}
</body>
</html>
