---
layout: default
---
<h1>
    <a href="tag/{{ page.tag }}">{{ page.tag }}</a>
</h1>
<br />

{% for post in page.posts limit:1 %}
        <div class="article">
            <h4>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h4>
            {% if post.category == "photo" %}
                {% include flickrimage.html %}
            {% else %}
                {{ post.excerpt }}
            {% endif %}
            {% include endmatter.html %}
        </div>
{% endfor %}

<br />
<ul>
    {% for post in page.posts %}
        {% if forloop.index > 1 %}
            <div class="article">
                <li>
                 <h4>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                 </h4>
               </li>
            </div>
        {% endif %}
    {% endfor %}

</ul>